@inherits ChartBase


@*<div id="@ChartId" @key="@ChartId" CascadingValue="@ChildContent">@ChildContent</div>*@
    <div id="@ChartId" @key="@ChartId" @ref=@ChartRef CascadingValue="@ChildContent">@ChildContent</div>