@inherits ChartBase


@if ((ChartOptions.IndexOf("bubble") > -1) || (ChartOptions.IndexOf("bar") > -1) || (ChartOptions.IndexOf("area") > -1))
{


    if (ChartOptions.IndexOf("bar") > -1)
    {
        <div class="card">
            <div class="card-header">@ChartTitle</div>
            <div class="card-body">
                <div id="@ChartId"></div>
            </div>
            <div class="card-footer">
                <div class="btn btn-info">Switch to vertical!</div>
            </div>
        </div>
    }

    else
    {
        <div class="card">
            <div class="card-header">@ChartTitle</div>
            <div class="card-body">
                <div id="@ChartId"></div>
            </div>
        </div>
    }

}
else
{
    if (ChartOptions.IndexOf("radialBar") > -1)
    {
        <div class="card split">
            <div class="card-header">@ChartTitle</div>
            <div class="card-body">
                <div id="@ChartId"></div>
            </div>
            <div class="card-footer">
                <div class="btn btn-info">Simulate TC Posting</div>
            </div>
        </div>
    }
    else
    {
        <div class="card split">
            <div class="card-header">@ChartTitle</div>
            <div class="card-body">
                <div id="@ChartId"></div>
            </div>
        </div>
    }


}


